.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 2px solid #54b4ea;
  margin-bottom: 40px;
}

.tab {
  font-weight: 600;
  padding: 12px 0;
  cursor: pointer;
  color: #00154f;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #001ecb;
  border-radius: 4px;
}

.plans-wrapper {
  display: flex;
  flex-direction: column;
}

.plans {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.plans.active {
  display: grid;
}

.plan {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #dfdfdf;
}

.plan-info-subtitle {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  color: #00154f;
  text-transform: uppercase;
}

.plan-info-title {
  text-align: center;
  margin-bottom: 1.15rem;

  h2 {
    font-size: 6rem;
    color: #00154f;
    line-height: 1;
  }

  span {
    font-size: 3rem;
    color: #00154f;
    line-height: 0.5;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.plan-info-price {
  padding-block: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  color: #00154f;
  border-block: 2px solid #a7a7a7;
}

.plan-benefits-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #00154f;
  margin-bottom: 0.5rem;
}

.plan-benefits-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
}

.plan-benefits-item {
  flex-shrink: 0;
  width: 50px;

  img {
    display: block;
    max-width: 100%;
    max-height: 30px;
    border-radius: 5px;
  }
}

.plan-addons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-addon-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.plan-addon-title {
  font-size: 0.875rem;
  margin-bottom: 8px;
  font-weight: 400;
  color: #00154f;
}

.plan-addon-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #00154f;
}

.plan-btn {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-inline: auto;
  font-size: 1.25rem;
  font-weight: 600;
  background: linear-gradient(to right, #54b4ea, #0d2678);
  color: #fff;
  border-radius: 20px;
  transition: background 0.2s;
  margin-top: auto;
}

.plan-benefit-tv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10%;

  & > img {
    display: block;
    max-width: 100%;
    height: 20px;
  }
}

.plan-addon-list-item-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #000;

  & > img {
    display: block;
    max-width: 100%;
    height: 24px;
    border-radius: 5px;
  }
}

.plan-switch {
  --secondary-container: #0d2678;
  --primary: #ffffff;
  flex-shrink: 0;
  font-size: 0.8125rem;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;

  input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .plan-slider::before {
    background-color: var(--primary);
  }

  input:checked + .plan-slider {
    background-color: var(--secondary-container);
  }

  input:focus + .plan-slider {
    box-shadow: 0 0 1px var(--secondary-container);
  }

  input:checked + .plan-slider:before {
    transform: translateX(1.9em);
  }
}

.plan-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7a7a7;
  transition: 0.2s;
  border-radius: 30px;
}

.plan-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
}
