.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 2px solid #54b4ea;
  margin-bottom: 40px;
}

.tab {
  font-weight: 600;
  padding: 12px 0;
  cursor: pointer;
  color: #00154f;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #001ecb;
  border-radius: 4px;
}

.plans-wrapper {
  display: flex;
  flex-direction: column;
}

.plans {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.plans.active {
  display: grid;
}

.plan {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #002d9c;
}

.plan-info-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000;
}

.plan-info-title {
  font-size: 2rem;
  color: #0d2678;
  font-weight: 800;
}

.plan-info-price {
  font-size: 1.25rem;
  margin: 5px 0 20px 0;
  color: #000;
}

.plan-btn {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* max-width: 180px; */
  width: 100%;
  height: 40px;
  margin-bottom: 1.25rem;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: 600;
  background-color: #54b4ea;
  color: #fff;
  border-radius: 20px;
  transition: background 0.2s;

  &:hover {
    background: #3389bb;
  }
}

.plan-benefits {
  margin-bottom: 1.5rem;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    color: #000;
    font-size: 0.75rem;

    i {
      color: #54b4ea;
      font-size: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
}

.plan-addons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-addon {
  color: #000;
}

.plan-addon-title {
  font-size: 0.875rem;
  margin-bottom: 8px;
  font-weight: 400;
}

.plan-addon-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.plan-addon-list-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}

.plan-addon-list-item-label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.75rem;

  img {
    max-width: 100%;
    display: block;
    width: auto;
    height: 12px;
  }
}
