.services {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.services-container {
  background-color: #1f1f1f;
  border-radius: 12px;
  display: grid;
  overflow-y: hidden;
}

.services-content {
  text-align: center;
  padding: 1.75rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

    .service-text-mark {
      color: #54b4ea;
    }
  }

  p {
    margin-bottom: 0.875rem;
    font-size: 0.875rem;
    text-wrap: balance;
    line-height: 1.35;
  }

  ul {
    max-width: max-content;
    margin-inline: auto;
    text-align: left;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  button {
    width: 100%;
    max-width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #00a8ff;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
  }
}

.services-image img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 374px;
  object-fit: cover;
}

@media (width >= 768px) {
  .services-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .services-content {
    text-align: left;

    p {
      text-wrap: initial;
    }

    ul {
      padding-left: 1.5rem;
      max-width: initial;
    }
  }
}

@media (width >= 1024px) {
  .services-content {
    h2 {
      font-size: 2.5rem;
    }

    p,
    ul {
      font-size: 1rem;
    }
  }

  .services-image img {
    height: 450px;
  }
}
